<div class="angular-emoji">
    <div class="emojiPicker">
        <div class="emojiHeading">Symbols</div>
        <div class="emojiBody">
            <div *ngFor="let image of symbols;" (click)="onEmojiClick(image)">
            <span>
              <img src="../../assets/images/emoji/png/{{image.code_points.base}}.png" class="app-emoji-image" title="{{image.name}}">
            </span>
            </div>
        </div>
        <div class="emojiHeading">Nature</div>
        <div class="emojiBody">
            <div *ngFor="let image of nature;" (click)="onEmojiClick(image)">
            <span>
              <img src="../../assets/images/emoji/png/{{image.code_points.base}}.png" class="app-emoji-image" title="{{image.name}}">
            </span>
            </div>
        </div>
        <div class="emojiHeading">Objects</div>
        <div class="emojiBody">
            <div *ngFor="let image of objects;" (click)="onEmojiClick(image)">
            <span>
              <img src="../../assets/images/emoji/png/{{image.code_points.base}}.png" class="app-emoji-image" title="{{image.name}}">
            </span>
            </div>
        </div>
        <div class="emojiHeading">People</div>
        <div class="emojiBody">
            <div *ngFor="let image of people;" (click)="onEmojiClick(image)">
            <span>
              <img src="../../assets/images/emoji/png/{{image.code_points.base}}.png" class="app-emoji-image" title="{{image.name}}">
            </span>
            </div>
        </div>
        <div class="emojiHeading">Food</div>
        <div class="emojiBody">
            <div *ngFor="let image of food;" (click)="onEmojiClick(image)">
            <span>
              <img src="../../assets/images/emoji/png/{{image.code_points.base}}.png" class="app-emoji-image" title="{{image.name}}">
            </span>
            </div>
        </div>
        <div class="emojiHeading">Activity</div>
        <div class="emojiBody">
            <div *ngFor="let image of activity;" (click)="onEmojiClick(image)">
            <span>
              <img src="../../assets/images/emoji/png/{{image.code_points.base}}.png" class="app-emoji-image" title="{{image.name}}">
            </span>
            </div>
        </div>
        <div class="emojiHeading">Regional</div>
        <div class="emojiBody">
            <div *ngFor="let image of regional;" (click)="onEmojiClick(image)">
            <span>
              <img src="../../assets/images/emoji/png/{{image.code_points.base}}.png" class="app-emoji-image" title="{{image.name}}">
            </span>
            </div>
        </div>
        <div class="emojiHeading">Travel</div>
        <div class="emojiBody">
            <div *ngFor="let image of travel;" (click)="onEmojiClick(image)">
            <span>
              <img src="../../assets/images/emoji/png/{{image.code_points.base}}.png" class="app-emoji-image" title="{{image.name}}">
            </span>
            </div>
        </div>
    </div>
    <!--<div class="emojiInput"  contentEditable="true" (keyup)="onChange($event)" (keyup.enter)="onEnter($event)" (ngModelChange)="onChange($event)" [innerHTML]="input" ></div>-->
    <div class="emojiInput"  contentEditable="true" (keyup)="onChange($event)" (keyup.enter)="onEnter($event)" [innerHTML]="input" ></div>
</div>
