.emojiPicker{
    width:400px;
    height:30px;
    overflow-y: scroll;
}

.emojiPicker>div{
    width:17px;
    float: left;
}

.emojiPicker>div>span{
    display:inline-block;
    width:17px;
    float: left;
}


.emojiPicker div img{
    width:15px;
}

.emojiInput{
    width:96%;
    height: 22px;
    border:1px solid #CCC;
    padding:5px;
    display: inline-block;
}

.emojiInput img{
    width:20px;
}


.emojiPicker[_ngcontent-c1] > div[_ngcontent-c1] {
    width: 24px;
    float: left;
    height: 24px;
    text-align: center;
    padding: 5px;
}
.emojiPicker > div > span {float: none;}

.emojiPicker > div {
    width: 24px;
    float: left;
    height: 24px;
    text-align: center;
}

.emojiPicker[_ngcontent-c1] {
    width: auto;
    height: 90px !important;
    overflow: auto !important;
}

