.emojiPicker{
    width:400px;
    height:300px;
    overflow-y: scroll;
}

.emojiPicker>div{
    width:17px;
    float: left;
}

.emojiPicker>div>span{
    display:inline-block;
    width:17px;
    float: left;
}


.emojiPicker div img{
    width:15px;
}

.emojiInput{
    width:96%;
    height: 22px;
    border:1px solid #CCC;
    padding:5px;
    display: inline-block;
}

.emojiInput img{
    width:20px;
}